{% extends 'suggestionsapp/base.html' %}

{%block title%}Suggestions-Login{%endblock%}
{% block content%}
{% if messages %}
	{% for message in messages %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
{% endif %}

<h1>Login Page</h1>
<form action='/login/' method="POST">
	{% csrf_token %}
	{{ form }}
	<input class="btn btn-primary" type="submit" value="Submit">
</form>
{% endblock %}
